body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 80px;
  background-color: #BDBDBD;
}

header {
  text-align: center;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding: 20px 0 50px;
}

input {
  border-radius: 5px;
  padding-left: 10px;
  margin: 40px 25px;
  width: 400px;
  height: 40px;
  font-size: 24px;
}

button {
  border-radius: 5px;
  border: 4px solid #388E3C;
  margin: 40px 15px;
  width: 180px;
  height: 40px;
  font-size: 20px;
  background-color: #4CAF50;
}

button:hover {
  background-color: #388E3C;
}

#auth-token-container {
  word-wrap: break-word;
  overflow-y: scroll;
  padding: 20px;
  font-size: 24px;
  width: 70vw;
  margin: auto;
  min-height: 160px;
  height: 100%;
  border: 2px solid black;
}

@media query {
  
}
